body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #f4f6f9;
}

.sidebar {
    background: #111827;
    min-height: 100vh;
    padding: 25px;
    position: sticky;
    top: 0;
}

    .sidebar h3 {
        color: white;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .sidebar a {
        display: block;
        color: #e5e7eb;
        padding: 12px 15px;
        margin-bottom: 8px;
        border-radius: 12px;
        text-decoration: none;
        transition: .3s;
    }

        .sidebar a:hover {
            background: #2563eb;
            color: white;
        }

.admin-content {
    padding: 30px;
}

}

.card-box {
    border: none;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

